<% trail.forEach(function(trail) { %>
  <a href="/profile/<%= trail.id %>"> <%= trail.name %> </a>
  <a id="delete-button" class="btn btn-primary delete" href="/trail/<%= trail.id %>">DELETE</a>
<% }); %>
