<h1>Edit your profile</h1>

<form class="edit-form" action="/profile/edit" method="PUT">
  <label for="edit-name">Edit your name:</label>
  <input id="edit-name" type="text" name="name" value="<%= user.name %>" />
  <button type="submit">Submit Your Edit</button>
</form>
