<h1>Edit your profile</h1>

<form class="edit-form" action="/profile/edit" method="PUT">
  <label for="edit-name">Edit your name:</label>
  <input id="edit-name" type="text" name="name" value="<%= user.name %>" />

  <label for="edit-email">Edit your email:</label>
  <input id="edit-email" type="email" name="email" value="<%= user.email %>" />

  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
  <button type="submit">Submit Your Edit</button>
</form>
