<!-- <nav class="navbar">
  <div class="nav-wrapper"> -->
    <a class="home" href="/">Home</a>
    <a class="signup" href="/auth/signup">Signup</a>
    <a class="login" href="/auth/login">Login</a>
    <a class="profile" href="/profile">Profile</a>
    <a class="logout" href="/auth/logout">Logout</a>
  <!-- </div>
</nav> -->
