<h2>Home</h2>
<p>Search for a trail of interest. </p>

<form class="form" action="/search" method="GET">
  <label for="city-input">Enter a US City Name</label>
  <input id="city-input" type="text" name="city" required>
  <label for="state-input">Enter a US State</label>
  <input id="state-input" type="text" name="state" required>
  <button type="submit">Submit</button>
</form>

<% searchResults.forEach(function(result) { %>
  <p><%= result.name %></p>
  <p><%= result.activities[0].activity_type_name %></p>
  <hr />
<% }); %>
