body {
  background-image: url('https://images.unsplash.com/photo-1476961925478-bdbd18f2f887?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ccafe56ad4db5e37307049a240e658bc&auto=format&fit=crop&w=2250&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.navbar {
  background: black;
  position: fixed;
}
a {
  color: yellow;
}
form button{
  color: black;
  background: grey;
}

form input {
  color: white;
}

.signup, .profile {
  font-size: 25px;
  color: red;
  padding-left: .5em;
  padding-right: .5em;
}
.home, .login, .logout {

font-size: 25px;
color: yellow;
}

.email, .password {
  font-size: 20px;
}
