body {
  background-image: url('https://images.unsplash.com/photo-1476961925478-bdbd18f2f887?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ccafe56ad4db5e37307049a240e658bc&auto=format&fit=crop&w=2250&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-left: 0;
  padding-right: 0;
}
.navbar {
  background: black;
  /* position: fixed; */
}
a {
  color: yellow;
}
form button{
  color: black;
  background: grey;
}

form input {
  color: white;
}

.signup, .profile {
  font-size: 25px;
  color: red;
  padding-left: .5em;
  padding-right: .5em;
}
.home, .login, .logout {

font-size: 25px;
color: yellow;
}

.email, .password {
  font-size: 20px;
}
#box1, #box2, #box3, #box4 {
  border-radius: 2em;
  position: relative;
}
#box1 {
  background: #355e78;
  opacity: 0.6;
  height: 40em;
}

#box2 {
  background: #558b6c;
  opacity: 0.6;
  height: 40em;
}

#box3 {
  background: #355e78;
  opacity: 0.6;
  height: 10em;
}

#box4 {
  background: #558b6c;
  opacity: 0.6;
  height: 10em;

}

.form {
  background: black;
  border-radius: 2em;
  padding: 2em;
  opacity: 0.8;
  border-color: white;
  border: solid;
}

h4 {
  background: teal;
  padding: 0.3em;
  border-radius: 2em;
  margin-top: 5em;
}

/*Not working- adjust materialize margin  */
/* .container {
  margin-left: 2em;
  margin-right: 2em;
} */
/* 
.navbar {
  opacity: 0.8;
  border-color: white;
  border: solid;
} */
