<h1><%= trailData.name %></h1>
<p>Summary:</p>
<p><%= trailData.summary %></p>
<p><%= trailData.type %></p>

 <!-- Fill out this page with more trailData -->

<form action="/trail" method="POST">
  <input name="trailId" type="hidden" value="<%= trailData.id %>">
  <button type="submit" name="button">Add to Favorites</button>
</form>


<!-- need to check the validation for logged in -->
